<h1>Stupid coaching</h1>
<p>Here's the conversation with your coach:</p>

<p><strong>you: </strong><%= @question%><br></p>
<p><strong>coach: </strong><%= @answer%><br></p>

<%= link_to "Ask a new question", ask_path %>
